version: '2.1'
services:

  doris-fe:
    build:
      context: doris-fe
      dockerfile: Dockerfile
    container_name: doris-fe
    ports:
      - 8030:8030
      - 9010:9010
      - 9020:9020
      - 9030:9030
    environment:
      - DORIS_ROLE=fe-leader
      # - DORIS_ROLE=fe-follower
      # - DORIS_LEADER=172.19.0.198:9010
      - FE_ROLE=fe-leader
      # - FE_LEADER=172.19.0.198:9010
    volumes:
      - "./doris2/fe/log:/home/doris/fe/log"
      - "./doris2/fe/doris-meta:/home/doris/fe/doris-meta"
      - "./doris2/fe/conf:/home/doris/fe/conf"
      - "/etc/localtime:/etc/localtime:ro"
    networks:
      dataease-network :
        ipv4_address: 172.19.0.198
    security_opt:
      - seccomp:unconfined
    restart: always

  doris-fe-follower:
    build:
      context: doris-fe
      dockerfile: Dockerfile
    container_name: doris-fe-follower
    ports:
      - 8030:8030
      - 9010:9010
      - 9020:9020
      - 9030:9030
    environment:
      - DORIS_ROLE=fe-follower
      - DORIS_LEADER=172.19.0.198:9010
      - FE_ROLE=fe-follower
      # - FE_LEADER=172.19.0.198:9010
    depends_on:
      - doris-fe
    volumes:
      - "./doris2/fe/log:/home/doris/fe/log"
      - "./doris2/fe/doris-meta:/home/doris/fe/doris-meta"
      - "./doris2/fe/conf:/home/doris/fe/conf"
      - "/etc/localtime:/etc/localtime:ro"
    networks:
      dataease-network:
        ipv4_address: 172.19.0.200
    security_opt:
      - seccomp:unconfined
    restart: always

  doris-be:
    build:
      context: doris-fe
      dockerfile: Dockerfile
    container_name: doris-be
    ports:
      - "8040:8040"
      - "8060:8060"
      - "9050:9050"
      - "9060:9060"
      - "9070:9070"
    environment:
      - DORIS_ROLE=be
      - FE_ROLE=be
    volumes:
      - "./doris2/be/log:/home/doris/be/log"
      - "./doris2/be/storage:/home/doris/be/storage"
      - "./doris2/be/conf:/home/doris/be/conf/"
      - "/etc/localtime:/etc/localtime:ro"
    networks:
      dataease-network :
        ipv4_address: 172.19.0.199
    restart: always

  kettle:
    image: registry.cn-qingdao.aliyuncs.com/dataease/kettle:8.3
    container_name: kettle
    volumes:
      - ./doris/conf/:/opt/dataease/conf
      - ./dataease/kettle-data:/opt/dataease/data/kettle
    networks:
      - dataease-network
    restart: always

networks:
  dataease-network:
    external: true